<footer>
    <div class="footer-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Difference</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/login">Admin login</a></li>
        </ul>
    </div>
    <div class="footer-info">
        Our Location <br/>
        Hoggard Family Dentistry <br/>
        2252 Yaupon Drive <br/>
        Wilmington, NC 28401 <br/>
        Phone: 910-762-0786 <br/>
        Email: info@hoggardfamilydentistry.com <br/>
    </div>
    <div class="footer-hours">
        Our Hours <br/>
        Monday: 8:00am - 5:00pm <br/>
        Tuesday: 8:00am - 5:00pm <br/>
        Wednesday: 8:00am - 5:00pm <br/>
        Thursday: 8:00am - 5:00pm <br/>
        Friday - Sunday: Closed <br/>
        "Break: 1:00pm - 2:00pm" <br/>
    </div>
    
</footer>