<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/admin.css">
  <link rel="stylesheet" href="css/contact.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/services1.css">
  <link rel="icon"  href="images/logo.jpeg">
  <title>Best Dentist in Keshavnagar - Dr.Makasare's Smile Line Dental Clinic</title>
  <link rel="stylesheet" href="css/chat.css" />
  <script src="css/chat.js" defer></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="images/logo.jpeg" alt="Icon" width="80px" height="80px"></a>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact us</a>
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    <a href="https://www.facebook.com/dr.makasare/" class="navbar-icon"><img src="images/fb.png" alt="Facebook Icon" height="25px" width="25px"></a>
    <a href="#" class="navbar-icon"><img src="images/mail.png" alt="Mail Icon" height="30px" width="30px"></a>
    <a href="https://www.bing.com/maps?osid=6b2085ad-5b3d-459d-8731-0005776b4867&cp=18.628004~73.777409&lvl=16&imgid=6e6a7a29-5d1f-4da8-970b-4cb391e0910c&v=2&sV=2&form=S00027" class="navbar-icon"><img src="images/maps.png" alt="Mail Icon" height="30px" width="30px"></a>
  </div>
</nav>
