<footer>
    <div class="footer1">
        <div class="footer-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact Us</a></li>
<li><a href="/faculty">Our Faculty</a></li>
                <li><a href="/login">Admin login</a></li>
           
        </ul>
        </div>
        <div class="footer-info">
            Our Location <br/>
            Smile Line  Dental Hospital & Implant Centre<br/>
            212 First Floor Kamala Corner, Opp. PMPL Bustop,<br/>
            Chinchwad, Pune - 411033 <br/>
            Phone: 020 2761 0233  <br/>
            Mail: drmakasare@drsmileline.com<br/>
        </div>
        <div class="footer-hours">
            Our Hours <br/>
            Monday: 9:30am - 2:00pm & 5:00pm - 9:30pm<br/>
            Tuesday: 9:30am - 2:00pm & 5:00pm - 9:30pm<br/>
            Wednesday: 9:30am - 2:00pm & 5:00pm - 9:30pm<br/>
            Thursday: 9:30am - 2:00pm & 5:00pm - 9:30pm<br/>
            Friday: 9:30am - 2:00pm & 5:00pm - 9:30pm<br/>
            Saturday: 9:30am - 2:00pm & 5:00pm - 9:30pm <br>
            Sunday: Closed
        </div>
    </div>
    
    <div class="footer-credits">
        Design & Developed by <a href="https://www.linkedin.com/in/pranav-khandagale-977837221/" class="developer">Pranav Khandagale</a> & <a href="https://www.linkedin.com/in/shreeyash-garde-profile/" class="developer">Shreeyash Garde</a>
    </div>
</footer>
