<%- include("partials/mainHeader"); -%>

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="aboutus.css">
  <title>Best Dentist in Keshavnagar - Dr.Makasare's Smile Line Dental Clinic</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="intro2">
    <img class="doctor4"src="images/doctor1.jpg" alt="doctor">
    <h3 class="intro3">WHY CHOOSE US?</h3>
    <p class="intro4">Best dental clinic in pimpri chinchwad area , <br> Welcome to Dr.Pradeep Makasare's Practice, where exceptional care meets expertise honed over 17 years of dedicated service. With a passion for transforming smiles and ensuring optimal oral health, we bring forth a wealth of experience in providing top-tier dental care.
    At our practice, we blend years of professional excellence with a warm, patient-centered approach. With over a decade of experience, we understand the intricacies of dental health, allowing us to tailor our services to meet each patient's unique needs.
  Our commitment extends beyond clinical proficiency; it embraces a deep understanding of our patients' concerns and aspirations. From routine check-ups to advanced treatments, our practice is dedicated to delivering compassionate care and crafting personalized solutions for every smile. </p>
  </div>
  <h2 class="imagez">Images</h2>
<div class="images">
<img class="image1"src="images/aboutusimg1.jpg" alt="img">
<img class="image2"src="images/aboutusimg2.jpg" alt="img">
<img class="image3"src="images/aboutusimg3.jpg" alt="img">
<img class="image4"src="images/aboutusimg4.jpg" alt="img">
<img class="image5"src="images/aboutusimg5.jpg" alt="img">
<img class="image6"src="images/aboutusimg6.jpg" alt="img">
</div>
  
<%- include("partials/mainFooter"); -%>
