<%- include("partials/mainHeader"); -%>


<div class="intro2">
    <img class="doctor4"src="images/doctor1.jpg" alt="doctor">
    <h3 class="intro3">WHY CHOOSE US?</h3>
    <p class="intro4">Best dental clinic in pimpri chinchwad area , <br> Welcome to Dr.Pradeep Makasare's Practice, where exceptional care meets expertise honed over 17 years of dedicated service. With a passion for transforming smiles and ensuring optimal oral health, we bring forth a wealth of experience in providing top-tier dental care.
    At our practice, we blend years of professional excellence with a warm, patient-centered approach. With over a decade of experience, we understand the intricacies of dental health, allowing us to tailor our services to meet each patient's unique needs.
  Our commitment extends beyond clinical proficiency; it embraces a deep understanding of our patients' concerns and aspirations. From routine check-ups to advanced treatments, our practice is dedicated to delivering compassionate care and crafting personalized solutions for every smile. </p>
  </div>
  
  
<%- include("partials/mainFooter"); -%>
