<%- include("partials/mainHeader"); -%>

<div class="intro2">
<h1 class="head1">Meet our visiting faculty</h1>
    <img class="doctor4"src="images/doctor2.jpg" alt="doctor">
    <h3 class="intro3">Dr. Pradeep Makasare</h3>
    <p class="intro4">Administrator and Founder <br> Smile designing expert and dental surgeon<br>Experience- 18+ years</p>

    <img class="doctor5"src="images/doctor 4.jpg" alt="doctor">
    <h3 class="intro5">Dr. Ganesh Ware</h3>
    <p class="intro6"> Implantalogist <br>Experience- 18+ years</p>

    <img class="doctor6"src="images/doctor3.jpg" alt="doctor">
    <h3 class="intro7">Dr. Sumant Garud</h3>
    <p class="intro8"> Oral & maxillofacial surgeon<br>Experience- 30+ years</p>

    <img class="doctor7"src="images/doctor5.jpg" alt="doctor">
    <h3 class="intro9">Dr. Jay Khatri</h3>
    <p class="intro10">Orthodontist <br>Experience- 18+ years</p>
  </div>

 
  <%- include("partials/mainFooter"); -%>
