<%- include("partials/mainHeader"); -%>

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/services1.css">
  <link rel="icon" type="image/png" href="logo.jpeg">
  <title>Best Dentist in Keshavnagar - Dr.Makasare's Smile Line Dental Clinic</title>
</head>
<body>

<h1 class="head">TREATMENTS</h1>
<p class="para1">Embark on a journey through our comprehensive range of dental services, meticulously crafted to cater to your every oral health need. From routine check-ups and preventive care to advanced cosmetic enhancements and restorative treatments, our practice is dedicated to providing a complete spectrum of services. With cutting-edge technology and a compassionate approach, we're committed to delivering personalized care for every smile that walks through our doors. Uncover the possibilities and elevate your dental experience with us</p>

<h2 class="head1">Conservative Dentistry</h2>
<img class="img1"src="images/Conservativedentistry.jpg" alt="img1">

<p class="para2">Conservative dentistry focuses on preserving natural tooth structure and preventing the progression of dental issues. It involves treatments aimed at conserving as much of the original tooth as possible while addressing problems like decay, damage, or structural issues.Conservative dentistry is patient-centered, focusing on individualized care that values both immediate solutions and the long-term health of the patient's natural teeth. By prioritizing minimally invasive techniques and preventive strategies, it aims to maintain oral health while preserving the integrity of the natural dentition.
</p>

<h2 class="head2">Dental implant fixing</h2>
<img class="img2"src="images/dentalimplants.webp" alt="img2">
<p class="para3">Dental implants are a popular and effective long-term solution for replacing missing teeth. The process involves fixing a replacement tooth root (usually made of titanium) into the jawbone to support a crown, bridge, or denture.Dental implant fixing is a reliable and durable solution for tooth replacement, offering numerous advantages such as improved aesthetics, enhanced chewing ability, and maintaining bone health.</p>


<h2 class="head3">Crown and Bridges fixing</h2>
<img class="img3"src="images/crown.jpg" alt="img3">
<p class="para4"><b>Crowns:</b> These are custom-made caps that cover damaged, weakened, or severely decayed teeth. Crafted from durable materials like porcelain, ceramic, or metal alloys, crowns protect and strengthen the tooth structure while restoring its shape, size, and appearance. With proper care and maintenance, a well-fitted crown can last for many years, restoring the tooth's functionality and aesthetics.</p>
<p class="para5"><b>Bridges:</b> Bridges are used to replace one or more missing teeth by anchoring artificial teeth (pontics) to adjacent natural teeth or dental implants. These prosthetic devices 'bridge' the gap, restoring your smile's appearance and functionality.Dental bridges offer a reliable and non-removable option for replacing missing teeth, improving both oral function and aesthetics.  </p>

<h2 class="head4">Root Canal</h2>
<img class="img4" src="images/root canal.jpg" alt="img4">
<p class="para6">Root canal treatment is a dental procedure performed to repair and save a badly infected or decayed tooth. It involves removing the infected pulp (soft tissue inside the tooth) and thoroughly cleaning and disinfecting the inside of the tooth before sealing it to prevent further infection.</p>

<h2 class="head5">Dental Braces</h2>
<img class="img5"src="images/braces.jpg" alt="img5">
<p class="para7">Dental braces are orthodontic devices used to correct misaligned teeth and jaws, improving both the function and appearance of the smile.Braces are a tried-and-true method for correcting various dental alignment issues, and advancements in orthodontics have provided more discreet and comfortable options for patients seeking teeth straightening treatments.</p>

</body>

<%- include("partials/mainFooter"); -%>
