<%- include("partials/mainHeader"); -%>


<h1 class="head">TREATMENTS</h1>

<div class="section">
  <div class="text">
    <p class="para1">Embark on a journey through our comprehensive range of dental services, meticulously crafted to cater to your every oral health need. From routine check-ups and preventive care to advanced cosmetic enhancements and restorative treatments, our practice is dedicated to providing a complete spectrum of services. With cutting-edge technology and a compassionate approach, we're committed to delivering personalized care for every smile that walks through our doors. Uncover the possibilities and elevate your dental experience with us</p>
  </div>
</div>


<div class="section">
  <img class="img" src="images/conservativedentistry.jpg" alt="img1">
  <div class="text">
    <h2 class="head1">Conservative Dentistry</h2>
    <p class="para2">Conservative dentistry focuses on preserving natural tooth structure and preventing the progression of dental issues. It involves treatments aimed at conserving as much of the original tooth as possible while addressing problems like decay, damage, or structural issues. Conservative dentistry is patient-centered, focusing on individualized care that values both immediate solutions and the long-term health of the patient's natural teeth. By prioritizing minimally invasive techniques and preventive strategies, it aims to maintain oral health while preserving the integrity of the natural dentition.</p>
  </div>
</div>

<div class="section">
  <img class="img" src="images/dentalimplants.webp" alt="img2">
  <div class="text">
    <h2 class="head2" style="margin-bottom: 50px;" >Dental implant fixing</h2>
    <p class="para3">Dental implants are a popular and effective long-term solution for replacing missing teeth. The process involves fixing a replacement tooth root (usually made of titanium) into the jawbone to support a crown, bridge, or denture.Dental implant fixing is a reliable and durable solution for tooth replacement, offering numerous advantages such as improved aesthetics, enhanced chewing ability, and maintaining bone health.</p>
  </div>
</div>

<div class="section">
  <img class="img" src="images/crown.jpg" alt="img3">
  <div class="text">
    <h2 class="head3" style="margin-left: 50px;">Crown and Bridges fixing</h2>
    <p class="para4"><b>Crowns:</b> These are custom-made caps that cover damaged, weakened, or severely decayed teeth. Crafted from durable materials like porcelain, ceramic, or metal alloys, crowns protect and strengthen the tooth structure while restoring its shape, size, and appearance. With proper care and maintenance, a well-fitted crown can last for many years, restoring the tooth's functionality and aesthetics.</p>
    <p class="para5"><b>Bridges:</b> Bridges are used to replace one or more missing teeth by anchoring artificial teeth (pontics) to adjacent natural teeth or dental implants. These prosthetic devices 'bridge' the gap, restoring your smile's appearance and functionality.Dental bridges offer a reliable and non-removable option for replacing missing teeth, improving both oral function and aesthetics.  </p>
    </div>
</div>

<div class="section">
  <img class="img" src="images/root canal.jpg" alt="img4">
  <div class="text">
    <h2 class="head4">Root Canal</h2>
    <p class="para6">Root canal treatment is a dental procedure performed to repair and save a badly infected or decayed tooth. It involves removing the infected pulp (soft tissue inside the tooth) and thoroughly cleaning and disinfecting the inside of the tooth before sealing it to prevent further infection.</p>
  </div>
</div>

<div class="section">
  <img class="img" src="images/braces.jpg" alt="img5">
  <div class="text">
    <h2 class="head5">Dental Braces</h2>
    <p class="para7">Dental braces are orthodontic devices used to correct misaligned teeth and jaws, improving both the function and appearance of the smile.Braces are a tried-and-true method for correcting various dental alignment issues, and advancements in orthodontics have provided more discreet and comfortable options for patients seeking teeth straightening treatments.</p>
  </div>
</div>

<div class="section">
  <img class="img" src="images/xray.avif" alt="img6">
  <div class="text">
    <h2 class="head5">Computerised Xray</h2>
    <p class="para7">Computerized dental X-rays, also known as digital dental radiography, are advanced imaging techniques used in dentistry to capture detailed images of the teeth, gums, jawbone, and surrounding oral structures.Digital dental X-rays are a safe, efficient, and essential tool in modern dentistry, providing clearer images for accurate diagnosis and treatment planning while prioritizing patient safety and comfort.</p>
  </div>
</div>

<div class="section">
  <img class="img" src="images/smilecorrection.png" alt="img7">
  <div class="text">
    <h2 class="head5">Smile Correction & Designing </h2>
    <p class="para7">Smile designing and correction typically refer to dental procedures aimed at improving the appearance of a person's smile. These procedures can involve various treatments and techniques tailored to enhance the aesthetics of the teeth, gums, and overall facial structure. Smile correction and designing procedures offer a range of options to enhance the appearance of your smile, addressing various cosmetic concerns. </p>
  </div>
</div>

<div class="section">
  <img class="img" src="images/bleaching.avif" alt="img8">
  <div class="text">
    <h2 class="head5">Bleaching</h2>
    <p class="para7">Dental bleaching, also known as teeth whitening, is a popular cosmetic procedure aimed at lightening the color of the teeth and removing stains or discoloration.This procedure involves removing stains and discoloration from the teeth, usually through bleaching agents or laser treatments.</p>
  </div>
</div>

<div class="section">
  <img class="img" src="images/flouride.webp" alt="img9">
  <div class="text">
    <h2 class="head5">Flouride Treatment</h2>
    <p class="para7">Dental fluoride treatment is a preventive procedure used to strengthen teeth and prevent tooth decay. Fluoride is a mineral naturally found in water sources and certain foods, and it's beneficial for dental health when applied in controlled amounts. </p>
  </div>
</div>
<%- include("partials/mainFooter"); -%>
