.image1{
  height: 400px;
  width: 400px;
padding-bottom: 20px;
padding-right: 15px;
}
.image2{
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.image3{
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.image4{
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.image5{
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.image6{
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.images{
  padding-left: 150px;
}
.imagez{
  text-align: center;
  padding-bottom: 40px;
}
.intro3{
  margin-left: 800px;
  margin-right: 100px;
  margin-top: 50px;
}
.intro4{
  margin-left: 800px;
  margin-right: 100px;
  margin-bottom: 200px;
  margin-top: 50px;
}
.doctor4{
position: absolute;
  width:700px;
  height: 500px;
  margin-left: 60px;

}
@media (max-width: 768px) {
  .doctor4{
    height:200px;
    width:200px;
    margin-top:80px;
    positon:relative;
  }
  .intro3{
    margin-left:70px;
    margin-top:300px;
    position:absolute;
    text-align:center;
}
  .intro4{
    text-align:center;
    margin-top:375px;
    margin-left:70px;
    position:absolute;
}
 .image1{
  height: 200px;
  width: 200px;

}
.image2{
  height: 200px;
  width: 200px;
  
}
.image3{
  height: 200px;
  width: 200px;
  
}
.image4{
  height: 200px;
  width: 200px;
  
}
.image5{
  height: 200px;
  width: 200px;
  
}
.image6{
  height: 200px;
  width: 200px;
} 
  .imagez{
  margin-top: 1300px;
    margin-left:50px;
  }
}
