.image1{
  height: 400px;
  width: 400px;
padding-bottom: 20px;
padding-right: 15px;
}
.image2{
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.image3{
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.image4{
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.image5{
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.image6{
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.images{
  padding-left: 150px;
}
.imagez{
  text-align: center;
  padding-bottom: 40px;
}
