.login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-h1 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .login-div form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
  }
  
  .login-div label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .login-div input[type="email"],
  .login-div input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-div button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-div button:hover {
    background-color: #0056b3;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .login-div form {
      max-width: 300px;
    }
  }
  /* Media query for smaller screens */
@media (max-width: 768px) {
  .login-div {
    height: auto; /* Adjust height for smaller screens */
    padding: 20px; /* Add padding for smaller screens */
  }

  .login-h1 {
    margin-top: 10px; /* Adjust top margin for smaller screens */
    margin-bottom: 5px; /* Adjust bottom margin for smaller screens */
  }

  .login-div form {
    max-width: 90%; /* Adjust max-width for smaller screens */
  }

  .login-div input[type="email"],
  .login-div input[type="password"] {
    width: 100%; /* Full width for input fields on smaller screens */
    margin-bottom: 10px; /* Adjust margin bottom for input fields */
  }

  .login-div button {
    width: 100%; /* Full width for the button on smaller screens */
    padding: 8px; /* Adjust padding for the button */
    font-size: 0.9rem; /* Adjust font size for the button */
  }
}
