/* Global styles */
body {
    font-family: Arial, sans-serif;
    /* Other global styles */
}

html {
    scroll-behavior: smooth;
  }

/* Styles for post content */
.post-h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    /* Other styles for the heading */
}

.post-para {
    font-size: 1.5rem;
    line-height: 1.6;
    /* Other styles for paragraphs */
}

/* In your CSS file or style section */
/* In your CSS file or style section */
.post-image {
    max-width: 100%; /* Adjust the maximum width as needed */
    height: auto;
    display: block; /* Ensures the image respects the container */
    margin: 0 auto; /* Centers the image */
    /* Other styling properties */
}


/* Media query for responsiveness */
@media (max-width: 768px) {
    .post-h1 {
        font-size: 1.8rem;
        /* Adjust heading size for smaller screens */
    }

    .post-para {
        font-size: 1rem;
        /* Adjust paragraph font size for smaller screens */
    }
    /* Add other responsive styles as needed */
}
