html {
  scroll-behavior: smooth;
}

.head {
  text-align: center;
  margin-top: 100px;
}

.para1 {
  margin-top: 50px;
  padding: 0 200px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.img {
  height: 400px;
  width: 400px;
}

.text {
  flex: 1;
  margin-left: 50px;
}

.head1,
.head2,
.head3,
.head4,
.head5 {
  margin-top: 50px;
  text-align: center;
  color: black;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .section {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    padding: 20px; /* Adjust padding for smaller screens */
  }
  .para1 {
    padding: 0 20px; /* Adjust the padding for smaller screens */
    text-align: center; /* Center-align the text for better readability */
  }

  .img {
    height: auto;
    width: 100%; /* Make the image responsive to the container */
    max-width: 300px; /* Set a maximum width for smaller screens */
    margin-bottom: 20px; /* Add space between image and text */
  }

  .text {
    margin-left: 0; /* Reset margin for text */
     text-align: justify;/* Center-align text */
  }

  /* Adjust margins for different headings */
  .head,
  .head1,
  .head2,
  .head3,
  .head4,
  .head5 {
    margin-top: 30px; /* Adjust top margins for headings */
  }
}