/* Add your existing navbar styles */

/* Hamburger menu styles */
.hamburger-menu {
  display: none; /* Initially hide for larger screens */
  cursor: pointer;
}
.navbar-icon{
  margin-right: 10px;
}
.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}
.head1{
  margin-top: 200px;
  margin-left: 20px;
  color: white;
}
.head2{
  margin-left: 20px;
  margin-bottom: 500px;
  color: white;
}
.intro3{
  margin-left: 800px;
  margin-right: 100px;
}
.intro4{
  margin-left: 800px;
  margin-right: 100px;
  margin-bottom: 200px;
  margin-top: 50px;
}
.nav-item{
  margin-left: 50px;
  margin-right: 50px;
}
.navbar-brand{
  margin-left: 20px;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar-middle {
    display: none; /* Hide the middle links for smaller screens */
  }

  .navbar-right {
    display: none; /* Hide the right icons for smaller screens */
  }

  .hamburger-menu {
    display: block; /* Show the hamburger menu for smaller screens */
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.card{
  margin-bottom: 30px;

}
.head3{
  margin-left: 250px;
}
.treatments{
  margin-bottom: 50px;
}
.testimonials1{
  margin-left: 630px;
}
#testimonials{
text-align: center;
margin-top: 70px;
margin-bottom: 100px;
color: black;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position: absolute;
  z-index: 1;
}
#press{
  background-color: #ff4c68;
  padding-bottom: 3%;
  text-align: center;
}
#pricing{
  padding: 100px;
  text-align: center;
}
#cta{
  padding: 70px;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text{
  font-size: 2rem;
  line-height: 1.5;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 2% 7%;
}

.row{
  padding: 3% 2%;
}
.treat{
  margin-left: 630px;
}

.logo1{
  margin-left: 150px;
}

.info2{
  position: absolute;
  margin-left: 150px;
  margin-right: 900px;
}

.info3{
  position: relative;
  margin-left: 700px;
  margin-top: 0px;
}

.info4{
  position: relative;
  margin-top: 0px;
  margin-left: 700px;
  margin-right: 500px;
}
.head4{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height:600px;
  margin-top: 100px;
  width: 1470px;
}
.doctor4{
position: absolute;
  width:700px;
  height: 500px;
  margin-left: 60px;

}

